* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.section__1 {
  /* background-image: ; */
  background: linear-gradient(180deg, #fff -65.65%, rgba(255, 255, 255, 0) 100%),
    url("./img/bg-header-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header__logo {
  width: 7.8rem;
  display: block;
  margin-inline: auto;
  padding-top: 7.69rem;
}

.header__logo__img {
  width: 100%;
  /* padding-bottom: 4rem; */
}

.heading {
  width: 19.4375rem;
  padding-top: 4rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  color: #4c545c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  letter-spacing: -0.03263rem;
}

.paragraph__text {
  width: 19.4375rem;
  margin-inline: auto;
  margin-bottom: 3rem;
  color: #9eabb2;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.0075rem;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 10rem;
}

.btns button {
  width: 19.4375rem;
  height: 3.5rem;
  display: block;
  margin-inline: auto;
  outline: none;
  border: none;
  border-radius: 1.75rem;
}

.btns button:nth-child(1) {
  background: #26bba4;
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset,
    0px 10px 20px 0px rgba(137, 229, 199, 0.5);
}

.btns button:nth-child(2) {
  background: #6174ff;
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset,
    0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.btns button a {
  color: #fff;
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem;
  letter-spacing: 0.03125rem;
}

h2.heading {
  color: #4c545c;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02856rem;
  margin-bottom: 1rem;
}

.section__2 p {
  margin-bottom: 4.06rem;
}

.desktop__img {
  width: 19.5rem;
  display: block;
  margin-inline: auto;
  margin-bottom: 3.5rem;
}

.desktop__img img {
  width: 100%;
}

.sub__heading {
  color: #4c545c;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02444rem;
  margin-bottom: 0.62rem;
}

.section__2__subtext {
  width: 19.4375rem;
  color: #9eabb2;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.0075rem;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.section__3 {
  margin-top: 11.62rem;
}

.section__3 h2 {
  width: 19.4375rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  color: #4c545c;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.02856rem;
}

.section__3 p {
  width: 19.4375rem;
  margin-inline: auto;
  color: #9eabb2;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.0075rem;
  margin-bottom: 4.05rem;
}

.tablet__img {
  width: 23.4375rem;
  display: block;
  margin-inline: auto;
  margin-bottom: 8.12rem;
}

.tablet__img img {
  width: 100%;
}

.sub__section h2 {
  margin-bottom: 0.69rem;
}

.icon {
  width: 2.75rem;
  display: block;
  margin-inline: auto;
  margin-top: 5.62rem;
}

.icon img {
  width: 100%;
  margin-bottom: 2.5rem;
}

.header {
  margin-bottom: 1.13;
}

.paragraph {
  color: #9eabb2;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.0075rem;
  width: 19.4375rem;
  margin-inline: auto;
  margin-bottom: 3.5rem;
}

.tech__companies__logo {
  margin-top: 8.25rem;
  margin-bottom: 10.62rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.56rem;
}

.section__4 {
  width: 19.4375rem;
  margin-inline: auto;
}

.section__4 h2 {
  margin-inline: auto;
  margin-bottom: 1rem;
  text-align: center;
  color: #4c545c;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02856rem;
}

.section__4 p {
  text-align: center;
  color: #9eabb2;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.0075rem;
  margin-bottom: 2.87rem;
}

.btns {
  margin-bottom: 10.63rem;
}

footer {
  background: hsla(201, 11%, 66%, 0.1);
}

.footer__logo {
  width: 3.4375rem;
  display: block;
  margin-inline: auto;
}

.footer__logo img {
  width: 100%;
  margin-top: 3.25rem;
  margin-bottom: 2.5rem;
}

.footer__nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__first__col,
.footer__sec__col,
.footer__third__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.footer__sec__col {
  margin-block: 1.25rem;
}

.footer__first__col a,
.footer__sec__col a,
.footer__third__col a {
  color: #4c545c;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.00844rem;
}
